
:root{
    --mainColor:#09c;
}
body{
    height: 5000px;
}
*{
    font-family: "Rubik", sans-serif;
    padding: 0;
    margin: 0;
}
/* Global */
.container{
    width: 90%;
    margin: 0 auto;
}

/* End */

/* ***************** Start Header ***************** */
header{
    padding: 30px 0
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: all .5s;
}

.logo a{
    font-size: 30px;
    text-decoration: none;
    color: var(--mainColor);
    font-weight: 800;
}
.search-bar{
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 50%;
    display: flex;
}
.search-bar input{
    padding: 10px;
    outline: none;
    border: 0;
    flex-grow: 1;
}
.search-bar select{
    padding:10px;
    cursor: pointer;
    border: 0;
    border-left: 1px solid #ccc;
   
}
.search-bar button{
    padding: 12px;
    background: var(--mainColor);
    outline: none;
    display: inline-block;
    border: 0;
    color: white;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.fav_cart{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fav,.cart{
    margin-left: 20px;
}
.fav a,.cart a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}
.cart a > div:first-child {
    position: relative;
}
.cart-count {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: var(--mainColor);
    border-radius: 50%;
    padding: 0 !important;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 12px;
    right: -8px;
}

.fav h4,.cart h4{
    font-size: 20px;
    transition: all 0.5s;
}
.fav:hover h4,.cart:hover h4{
    color:var(--mainColor)
}
.fav a div,.cart a div{
    padding-left: 10px;
    text-align: right;
}
.fav a div span ,.cart a div span{
    color: #a19d9d;
}

@media screen and (max-width: 992px) {
 
    .search-bar{
        order: 1;
        width: 100%;
    }
    .fav_cart{
        margin: 10px 0;
    }
}
@media screen and (max-width: 400px){
    .header-top {
        justify-content: center;
    }
}

/* Start Header-bottom */
.header-bottom{
    position: sticky;
    top: 0;
    background-color: var(--mainColor);
}
.header-bottom .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
.category-left{
    
}
.category-left i {
    font-size: 24px;
    color: white;
}
.category-left select {
    border: 0;
    padding: 10px;
    padding-left: 0;
    background: transparent;
    color: white;
    font-size: 24px;
    font-weight: 800;
}
nav{
    font-family: "Rubik", sans-serif;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    padding: 0 10px;
    color: white;
    font-weight: 500;
}
nav ul li:nth-child(4){
    position: relative;
}
nav ul li:nth-child(4) ul{
    position: absolute;
    top: 30px;
    background: white;
    flex-direction: column;
    align-items: flex-start;
    transform-origin: top;
    transform: scaleY(0);
    transition: all .5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
nav ul li:nth-child(4) ul li{
    width: 100%;
    border-bottom: 1px solid #ccc;
}nav ul li:nth-child(4) ul li:last-child{
    border-bottom:0;
}
nav ul li:nth-child(4) ul li a{
    color: #09c;
    padding: 10px 15px;
    display: block;
}
nav ul li:nth-child(4):hover ul{
    transform: scaleY(1)
}
.menu-bar{
    color: white;
    font-size: 24px;
    font-weight: 800;
    display: none;
}

@media screen and (max-width:992px) {
    nav{
        display: none;
    }
    .menu-bar{
        display: block;
    }
}
/* End Header-bottom */




/* ***************** End Header ***************** */